.shared-panel {
  overflow: auto;
}
.shared-panel span {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
}
.shared {
  width: 30px;
  height: 30px;
  margin: 5px 0;
  padding: 0;
  /* Recurso incluido en la descarga del ejemplo */
  background: url("/static/images/shared.png") no-repeat;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.shared:hover {
  opacity: 0.7;
}
.shared.gp {
  background-position: 0px 0px;
  background-color: #e62b34;
}
.shared.tt {
  background-position: 0px -30px;
  background-color: #43bdf0;
}
.shared.ce {
  background-position: 0px -60px;
  background-color: #8a898d;
}
.shared.wa {
  background-position: 0px -90px;
  background-color: #0dc143;
}
.shared.fb {
  background-position: 0px -120px;
  background-color: #6081c4;
}

.st2 {
  border-radius: 0;
}
.st3 {
  border-radius: 5px;
}

.card-contact {
  background-color: #5cce93;
}

.card-contact a {
  color: white;
}
