{% extends 'main.html' %} {% block contenido %} {% load static %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="">
        <img
          class="card-img-top"
          src="http://{{ request.get_host }}/static/images/logo_line.png"
        />
        <h4 class="card-title text-center">Acerca de DXN</h4>
        <div class="card-body">
          <p>
            DXN fue fundado por Datuk Lim Siow Jin graduado de un prestigioso
            Instituto de Tecnología de la India. Datuk Lim comenzó el negocio en
            busca de los beneficios de los hongos en la salud humana. Su
            profundo interés e incansables esfuerzos le llevaron a utilizar el
            máximo potencial del Ganoderma o Lingzhi, el cual es reconocido por
            ser el Rey de Las Hierbas para la salud humana y la riqueza, el
            establecio DXN en 1993.
          </p>
          <p>
            La actividad principal de DXN incluye el cutlivo, manufactura y
            mercadeo de los suplementos dietarios saludables. Con sede en
            Malasia y operaciones mundiales, la compañía es reconocida por sus
            negocio de Ganoderma. Entre sus líneas de producto incluye productos
            de cuidado personal, cosméticos, productos del hogar y sistema de
            tratamiento de agua. Desde su introducción en 1993, DXN ha tenido el
            concepto de "Un Mundo Un mercado Una Mente Una Compañía Dragón" Con
            este poderoso concepto, durante años DXN ha navegado a través de un
            continuo crecimiento. El 30 de Septiembre de 2003, DXN Holdings
            Berhad fue enlistado en la Bursa de Malasia. El 27 de diciembre de
            2011 fue desenlistada debido a que fue retomada por su fundador.
          </p>
          <p>
            DXN Holding Berhad es una compañía de inversión y maneja las
            compañías del Grupo DXN. DXN es altamente apreciada por su calidad
            lo cual le ha hecho ganar diferentes tipos de reconocimientos y
            menciones de diferentes institutos de salud y organizaciones de
            negocios. Junto con su fundación sólida y desarrollo sustentable,
            DXN se ha diversificado rápidamente en otras actividades de
            negocios, las cuales incluyen bienes raíces, información
            tecnológica, etc. Debido a su negocio principal, rápido crecimiento
            global y expansión DXN ha sido reconocida de forma internacional por
            su vasto crecimiento mundial y su amplificación estratégica y huella
            con locaciones claves. Con más de 14.9 millones de distribuidores
            registrados a nivel mundial , DXN ha consolidado su posición en el
            mundo como líder en los productos de Ganoderma.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% endblock contenido %}
</div>
