{% extends 'main.html' %} {% block contenido %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="list list-row block card shadow">
        <div class="list-item">
          <span class="w-48 avatar gd-primary"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <div class="flex">
            <a href="#" class="card-title post-titulo"
              >Modulo 1. Reunión de Oportunidad de Negocio B.O.M</a
            >
            <div class="item-except text-muted text-sm h-1x">
              Este Modulo es muy importante ya que explica sobre la estabilidad
              de la compañía y abarca empresa, productos y negocio de DXN
            </div>
            <p class="text-sm text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              05/06/2023
            </p>
          </div>
          <div class="float-right">
            <a class="btn btn-morado" href="#">Descargar</a>
          </div>
        </div>
        <div class="list-item">
          <span class="w-48 avatar gd-primary"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <div class="flex">
            <a href="#" class="card-title post-titulo"
              >Modulo 2. Cultura de DXN</a
            >
            <div class="item-except text-muted text-sm h-1x">
              El Modulo de Cultura DXN es un tema muy importante ya que se
              explica la calidad y la filosofía de DXN, asi como el objetivo que
              tiene la empresa y como es su forma de pensar de la compañía y
              como podemos aplicar este conocimiento en nuestro negocio y así
              poder lograr mayor éxito en nuestras vidas.
            </div>
            <p class="text-sm text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              05/06/2023
            </p>
          </div>
          <div class="float-right">
            <a class="btn btn-morado" href="#">Descargar</a>
          </div>
        </div>
        <div class="list-item">
          <span class="w-48 avatar gd-primary"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <div class="flex">
            <a href="#" class="card-title post-titulo"
              >Modulo 3. Introducción al Plan de Mercadotecnia DXN</a
            >
            <div class="item-except text-muted text-sm h-1x">
              Este Modulo es una introducción al maravilloso plan de
              compensación que tiene DXN para todos los distribuidores, como
              poder aplicarlo y como poder sacar el mayor provecho de nuestro
              trabajo, este plan de DXN es único y muy generoso.
            </div>
            <p class="text-sm text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              05/06/2023
            </p>
          </div>
          <div class="float-right">
            <a class="btn btn-morado" href="#">Descargar</a>
          </div>
        </div>
        <div class="list-item">
          <span class="w-48 avatar gd-primary"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <div class="flex">
            <a href="#" class="card-title post-titulo"
              >Modulo 4. Como Hacer el Negocio</a
            >
            <div class="item-except text-muted text-sm h-1x">
              Como poder iniciar el camino en este gran negocio de DXN Modulo
              muy importante para poder conocer el potencial de negocio.
            </div>
            <p class="text-sm text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              05/06/2023
            </p>
          </div>
          <div class="float-right">
            <a class="btn btn-morado" href="#">Descargar</a>
          </div>
        </div>
        <div class="list-item">
          <span class="w-48 avatar gd-primary"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <div class="flex">
            <a href="#" class="card-title post-titulo"
              >Modulo 5. Ganoterapia DXN</a
            >
            <div class="item-except text-muted text-sm h-1x">
              La Ganoterapia es uno de los módulos mas importantes de DXN ya que
              explica como actúa el Ganoderma en nuestro cuerpo y como es el
              proceso en el cuerpo, quien maneja la Ganoterapia tiene muchas
              posibilidades de lograr el éxito en DXN
            </div>
            <p class="text-sm text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              05/06/2023
            </p>
          </div>
          <div class="float-right">
            <a class="btn btn-morado" href="#">Descargar</a>
          </div>
        </div>
        <div class="list-item">
          <span class="w-48 avatar gd-primary"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <div class="flex">
            <a href="#" class="card-title post-titulo"
              >Modulo 6. Colocación de Productos DXN</a
            >
            <div class="item-except text-muted text-sm h-1x">
              La Colocación de Productos es un Modulo que explica la importancia
              de consumir los productos de DXN ya que nuestra nutrición es muy
              carente de nutrientes óptimos, y se explica la diferencia de
              Alimentos básicos y Suplemento Alimenticio.
            </div>
            <p class="text-sm text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              05/06/2023
            </p>
          </div>
          <div class="float-right">
            <a class="btn btn-morado" href="#">Descargar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
{% endblock contenido %}
