{% extends 'main.html' %} {% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <br /><br />
      <div class="card shadow">
        <img
          class="card-img-top"
          src="http://{{ request.get_host }}/media/{{publicacion.imagen}}"
          alt="{{publicacion.titulo}}"
        />
        <div class="card-body">
          <h4 class="publicacion-titulo card-title text-center">
            {{publicacion.titulo}}
          </h4>
          <br />
          <div class="card-text text-justify">
            {{publicacion.contenido|safe}}
          </div>
<hr>
          <div class="shared-panel text-right">
            <span>Compartir por:</span><br>
            <a  data-action='share/whatsapp/share' class="shared wa" title="WhatsApp"></a>
            <a target="_blank" class="shared ce" id="sml" title="Email"></a>		
            <a target="_blank" class="shared gp" title="Google+"></a>
            <a target="_blank" class="shared tt" title="Twitter"></a>
            <a target="_blank" class="shared fb" title="Facebook"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <br /><br />
        <div class="card text-center shadow">
          <h4 class="card-title p-2">RECIENTES</h4>
          <ul class="list-unstyled"></ul>
            {%for post in publicaciones%}
              <li class="media">
                  <a href="http://{{ request.get_host }}/publicaciones/{{post.titulo}}" class="post-titulo-resc">
                    <div class="media p-2">
                      <img
                        class="d-flex mr-3 img-fluid rounded"
                        width="90"
                        src="http://{{ request.get_host }}/media/{{post.imagen}}"
                        alt="{{post.titulo}}"
                      />
                      <div class="text-justify">
                        <h5>{{post.titulo}}</h5>
                        <span><i class="fa fa-calendar"></i> {{post.creado|date:"d/m/Y h:m a"}}</span>
                      </div>
                    </div>
                  </a>
                </li>
                {%endfor%}
            </ul>
        </div>
      </div>
  </div>
</div>
{% endblock contenido %}
