{% extends 'main.html' %} {% block contenido %}
<div class="container">
  <br />
  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <div class="video-responsive">
          <iframe
            src="https://www.youtube.com/embed/KzGkH933rVs"
            frameborder="0"
            allowfullscreen="allowfullscreen"
          ></iframe>
        </div>
        <div class="card-body">
          <br />
          <h4 class="card-title text-center">Sistema Educativo</h4>
          <ul>
            <li><h5>Definición e Importancia</h5></li>
            <li>
              <h5>Empresa y Productos</h5>
              <ol>
                <li>Presentación y Negocio</li>
                <li>Presentación de Productos</li>
                <li>Plan de Compensación</li>
              </ol>
            </li>
            <li>
              <h5>El Patrón del Éxito</h5>
              <ol>
                <li>Define tus sueños</li>
                <li>Haz algunos compromisos</li>
                <li>Escribe tu lista de candidatos</li>
                <li>Invita a tus candidatos</li>
                <li>Tenga una reunión exitosa</li>
                <li>Haz el seguimiento</li>
                <li>Revisa tu progreso</li>
                <li>Enseña el patrón del éxito</li>
              </ol>
            </li>
            <li><h5>Ser, Hacer y Tener</h5></li>
            <li>
              <h5>Los 3 Pilares del Multinivel</h5>
              <ol>
                <li>Asociación</li>
                <li>Edificación</li>
                <li>Duplicación</li>
              </ol>
            </li>
            <li>
              <h5>4 Columnas en DXN</h5>
              <i>Las 4 "C" en DXN</i>
              <ol>
                <li>Consume</li>
                <li>Comparte</li>
                <li>Construye</li>
                <li>Capacítate</li>
              </ol>
            </li>
            <li><h5>Herramientas</h5></li>
            <li>
              <h5>Eventos</h5>
              <ol>
                <li>Reunión en casa</li>
                <li>Capacitaciones semanales</li>
                <li>Eventos mensuales</li>
                <li>Convenciones anuales</li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
